/*Name: Jesper Sterrenburg, Adam Kaddouri*/
/*Date: 11-3-2025*/
/*File: CSS index.php */

/*Letterltype toegevoegd */
@font-face
{
    font-family:"Montserrat";
    src: url("../../fonts/Montserrat/Montserrat-Medium.ttf");
}

/*Lettertype gebruikt op de body en de margin op 0 gezet*/
body
{
    font-family:"Montserrat";
    margin: 0;
}

/*Figure margin op 0 gezet*/
figure
{
    margin: 0;
}

/* id logo gepositioneerd */
#logo
{
    margin-left: 12px;
    width: 18%;
}

/*id linav gepositioneerd*/
.linav
{
    display: inline-block;
    padding: 0 5px;
}

/*als je met je muis over id anav gaat word de achtergrond veranderd*/
.anav:hover
{
    background-color: #eaebec;
}

/*class anav word gepositioneerd, opgemaakt en het lettertype word aangepast*/
.anav
{
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin-left: 10px;
    padding: 2px;
    border-radius: 10px;
}

/*id foot word opgemaakt en gepositioneerd*/
#foot
{
    background-color: #f6f7f8;
    height: 230px;
    width: 100%;
    margin-left: 0;
}

/*id foottekst word in het midden gezet*/
#foottekst
{
    text-align: center;
}

/*id foottekst2 krijgt een flex en word gepositioneerd*/
#foottekst2
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

/*id streepjenav word opgemaakt*/
#streepjenav
{
    background-color: #0074c8;
    border: none;
    height: 2px;
    margin: 20px auto;
}

/*id blok krijgt een flex en word gepositioneerd*/
#blok
{
    display: flex;
    justify-content: space-around;
}

/*id partners word in het midden gezet*/
#partners
{
    text-align: center;
}

/*class blokjes word opgemaakt en gepositioneerd*/
.blokjes
{
    background-color: #ebf3f8;
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 240px;
    height: 320px;
    border-radius: 15px;
}

/*id wereld krijgt een breedte*/
#wereld
{
    width: 176px;
}

/*id wereldtekst word gepositioneerd*/
#wereldtekst
{
    margin-bottom: 5px;
}

/*a word zwart en krijgt geen lijntje */
a
{
    color: black;
    text-decoration: none;
}

/*als je over dde class blokjes gaat krijgt het een schaduw*/
.blokjes:hover
{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Geeft een schaduw */
}

/*class landen krijgt een flex en word daarmee gepostioneerd*/
.landen
{
    display: flex;
    align-items: center;
    height: 100px;
    width: 60%;
    border-radius: 10px;
   padding-left: 30px;
}

/*als je over landen heen gaat word de kleur veranderd en er komt een schaduw*/
.landen:hover
{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Geeft een schaduw */
    background-color: #ebf3f8;
}

/*class plaatjelanden word opgemaakt en gepositioneerd*/
.plaatjelanden {
    width: 80px;
    height: auto;
    margin-right: 10px;
    border-radius: 10px;
}

/*class landentekst krijgt een lettergrootte*/
.landentekst
{
    font-size: 16px; /* Pas de tekstgrootte aan */
}

/*van id bestemmingen en id werken alles in het midden gezet */
#bestemmingen, #werken {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*id knop opgemaakt*/
#knop
{
    color: #0E578C;
    background-color: #ebf3f8;
    border-radius: 10px;
    width: 200px;
    border: none;
    padding: 10px;
    font-size: 20px;
}

/*als je met je muis over id knop gaat komt er een schaduw*/
#knop:hover
{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Geeft een schaduw */
}

/*id werkenbij word gepositioneerd*/
#werkenbij
{
    margin-bottom: 10px;
}

@media screen and (max-width: 842px)
{
    footer
    {
        width: 100%;
    }
}