/*div*/
/*{*/
/*    !* Ruimte binnen het formulier toevoegen *!*/
/*    padding: 20px;*/
/*    !* Ruimte rondom het formulier *!*/
/*    margin: 10px;*/
/*    !* Schaduw toevoegen voor een lichte 3D-look *!*/
/*    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);*/
/*    !* Hoeken afronden *!*/
/*    border-radius: 10px;*/
/*    !* Tekst uitlijnen naar links *!*/
/*    text-align: left;*/
/*}*/

/*div*/
/*{*/
/*    width: 75%;*/
/*}*/


form
{
    background: #ffffff;
    width: 60%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
}

/* Titels en labels */
label
{
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

/* Inputvelden */
input[type="text"], input[type="date"]
{
    width: 40%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Radiobuttons */
input[type="radio"]
{
    margin-right: 5px;
}

/* Knoppen */
button
{
    background-color: #00A1E4;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    width: 30%;
}

button:hover
{
    background-color: #007bb5;
}

#nav
{
    box-shadow: 0;
}

label
{
    padding-top: 10px;
}

h1
{
    margin-left: 17px;
}

section
{
    padding: 20px;
}

#uitslag {
    display: flex;
    justify-content: flex-end; /* Moves content to the right */
}

#uitslagFoto
{
    margin-top: auto;
    margin-right: 100px;
    margin-top: -210px;
    width: 10%;
    height: auto;
}

#sectionResultaten
{
    padding: 20px;
    width: 65%;
    background: #ffffff;
    width: 60%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    margin-left: auto;
    margin-right: auto;
    margin-bottom:  125px;
    margin-top: 125px;
}