/*Name: Adam Kaddouri, Jesper Sterrenburg*/
/*Date: 11-3-2025*/
/*File: CSS enquete.php  */

/*Gehele enquete aanspreken*/
form
{
    /*Achtergrond kleur wit*/
    background: #ffffff;
    /*Enquete pagina is 60% van het scherm*/
    width: 60%;
    /* De inhoud van de enquete houdt 20px afstand van de borders*/
    padding: 20px;
    /*De enquete heeft ronde hoeken*/
    border-radius: 10px;
    /*Vage schaduw langs de borders*/
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    /*Centeren in het midden*/
    margin-left: auto;
    /*Centeren in het midden*/
    margin-right: auto;
}

/* Titels en labels */
label
{
    /*Vetgedrukte letters*/
    font-weight: bold;
    /*Een eigen waarde geven*/
    display: block;
    /*De labels houden 10px afstand van de vragen die ervoor kwamen*/
    margin-top: 10px;

}

/* Alleen de inputvelden voor tekst en datum aanspreken*/
input[type="text"], input[type="date"]
{
    /*Breedte van 40% van de gehele enquete*/
    width: 40%;
    padding: 8px;
    margin-top: 5px;
    /*Het inputveld heeft een border van 1 px*/
    border: 1px solid #ddd;
    /*De borders hebben een ronde hoeken*/
    border-radius: 5px;
}

/* Radiobuttons */
input[type="radio"]
{
    /*De buttons houden 5 pixels afstand van elkaar*/
    margin-right: 5px;
}

/* Knoppen */
button
{
    /*De letters in de knop blauw maken*/
    color: #0E578C;
    /*De knop licht blauw maken*/
    background-color: #ebf3f8;
    /*De borders van de knop rond maken*/
    border-radius: 10px;
    /* De knop 200px groot maken*/
    width: 200px;
    /*geen borders tonen*/
    border: none;
    /*De inhoud van de button houdt 10 pixels afstand van de borders*/
    padding: 10px;
    /*Lettergrote 20px maken*/
    font-size: 20px;
    /*De tekst houdt 30px afstand van de laatste vraag*/
    margin-top: 30px ;
}

button:hover
{
    /*grijze schaduw toevoegen als de gebruik met zijn of haar cursor over de button gaat*/
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Geeft een schaduw */
}

/*Alle h1 aanspreken binnen de pagina*/
h1
{
    /*17 pixels afstand houden van de borders van het device*/
    font-weight: normal;
    font-size: 20px;
    width: 70%;
}

/*De gehele section van de pagina een padding geven van 20px*/
section
{
    padding: 20px;
}

/*De uitslag nadat de gebruiker heeft geklikt op de button*/
#uitslag
{
    /*In de breedte tonen*/
    display: flex;
    /*Inhoud verplaatsen naar rechts*/
    justify-content: flex-end;
}

/*Duimpje omhoog/omlaag*/
#uitslagFoto
{
    margin-right: 100px;
    margin-top: -170px;
    width: 10%;
    height: 250%;
}

#sectionResultaten
{
    padding: 20px;
    background: #ffffff;
    width: 60%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    margin-left: auto;
    margin-right: auto;
    margin-bottom:  125px;
    margin-top: 125px;
}

#sectionBehaaldePunten
{
    padding: 20px;
    background: #ffffff;
    width: 60%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    margin-left: auto;
    margin-right: auto;
    margin-bottom:  125px;
    margin-top: 125px;
    text-align: center;
}