@font-face
{
    font-family:"Montserrat";
    src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
}


body
{
    font-family:"Montserrat";
    margin: 0;
}

figure
{
    margin: 0;
}

figure>img
{
    margin-left: 12px;
    width: 18%;
}

nav>ul>li
{
    display: inline-block;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
}

nav>ul>li>a:hover
{
    text-decoration: none;
    background-color: #eaebec;
}

nav>ul>li>a
{
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin-left: 10px;
}

nav
{
    position: sticky;
    top: 0;
}

ul
{
    margin-left: -20px;
    margin: 0;
    padding: 0;
}

#foot
{
    background-color: #f6f7f8;
    position: fixed;
    bottom: 0;
    height: 230px;
    width: 100%;
    margin-left: 0;

}

#foottekst
{
    text-align: center;
}

#foottekst2
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}







